/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
../.idea/
../.idea/*
public/uploads/avatars/
!public/uploads/avatars/default.png